.container.contact_container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_option {
    background: var(--color-bg-varient);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact_option:hover {
    background: transparent;
    border-color: var(--color-primary-varient);
}

.contact_option_icon {
    font-size: 22px;
    margin-bottom: 10px;
}

.contact_option a {
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
}

/* ======== FORM ======== */
form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input, textarea {
    width: 100%;
    padding: 18px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid var(--color-primary-varient);
    resize: none;
    color: var(--color-white);
}

/* ======== MEDIA QUERIES (Medium) ======== */
@media screen and (max-width: 1024px){
    .container.contact_container {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

/* ======== MEDIA QUERIES (Small) ======== */
@media screen and (max-width: 600px){
    .container.contact_container {
        width: var(--container-width-sm);
    }
}